*{padding:0 margin:0}
html{
	background:url("1490660577_bf9e2c4ea9dc4616a57ece1e20d0ec3b.jpg" ) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;