*{padding:0 margin:0}
html{
	background:url("a2f6328d-dafa-4c3d-9fb3-b8cbb5923477.jpg" ) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;