*{padding:0 margin:0}
html{
	background:url("FMD-Features-Kimokal-Perkawinan-Dua-Alter-Ego_1420433081.jpg" ) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;