*{padding:0 margin:0}
html{
	background:url("dsc_1083.jpg" ) no-repeat center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;